name: CI Pipeline

#on:
#  push:
#    branches: ["main"]

env:
  PROJECT_ID: crystal-database-migrate
  REGION: us-central1
  REPOSITORY: samaladeepak
  APP_IMAGE: application-image
  TAG: latest
  # GAR_LOCATION: ${{env.REGION}}-docker.pkg.dev/${{env.PROJECT_ID}}/${{env.REPOSITORY}}/${{env.IMAGE_NAME}}

jobs:
  docker-build:
    runs-on: ['self-hosted', 'Windows', 'X64']
    steps:
      - name: checkout the source code
        uses: actions/checkout@v4
      
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{secrets.GCP_SERVICE_ACCOUNT_key}}' 

      - name: setup cloud sdk
        uses: 'google-github-actions/setup-gcloud@v2'
        with:
          PROJECT_ID: ${{env.PROJECT_ID}}
          export_default_credentials: true
        
      - name: Configure docker for Artifact registry
        run: |
          gcloud auth configure-docker ${{env.REGION}} -docker.pkg.dev --quiet
      
      - name: Build Docker Image 
        run: |
          docker build -t ${{env.REGION}}-docker.pkg.dev/${{env.PROJECT_ID}}/${{env.REPOSITORY}}/{{env.APP_IMAGE}}:$TAG .
          
      - name: Push docker image to Artifact registry
        run: |
          docker push ${{env.REGION}}-docker.pkg.dev/${{env.PROJECT_ID}}/${{env.REPOSITORY}}/{{env.APP_IMAGE}}:$TAG


      - name: Get GKE cluster credentials
        run: |
          gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER }} \
            --region ${{ secrets.GKE_LOCATION }} \
            --project ${{ secrets.GCP_PROJECT_ID }}

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Deploy to GKE using Helm
        run: |
          IMAGE="${{ secrets.GAR_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GAR_REPO }}/${{ secrets.IMAGE_NAME }}"
          TAG=$(echo $GITHUB_SHA | head -c7)

          echo "Deploying $IMAGE:$TAG"

          helm upgrade --install ${{ secrets.HELM_RELEASE }} \
            ${{ secrets.HELM_CHART_PATH }} \
            --set image.repository=$IMAGE \
            --set image.tag=$TAG \
            --namespace default \
            --create-namespace
